.container{
  max-width: 1460px;
  padding:0px 88px;
}
#Desktop1 img{
  max-width: 812px;
  height: 600px;
  object-fit: cover;
  padding: 0px 192px;
  margin-top: -88px;
}
#Desktop1{
  background-image: url("../Vector.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 582px;
  padding: 20px 20px;

}
#Desktop1 h3{
  width: 287px;
  height: 24px;
  font: inherit;
  font-weight: 600;
  size: 20px;
  font-style: Semi Bold;
  line-height: 100%;
  margin-left: 498px;
}
#p1{
  width: 352px;
  height: 112px;
  font:inherit;
  font-weight:400;
  size: 16px;
  line-height: 28px;
  font-style:normal;
}
#p2{
  max-width: 400px;
  height: 196px;
  margin-left: 652px;
  margin-top: -412px;

}
#Desktop2 img{
  max-width: 600px;
  height: 600px;
  object-fit: cover;
  margin-top: 82px;
}
#Desktop2{
  max-width: 1440px;
  padding: 20px 20px;

}
#Desktop2 h3{
  
  max-width: 449px;
  height: 24px;
  font: inherit;
  font-weight: 600;
  size: 20px;
  font-style: Semi Bold;
  line-height: 100%;
  margin-top: -482px;
  margin-left: 562px;
}
#p3{
  max-width: 400px;
  height: 252px;
  font:inherit;
  font-weight:400;
  size: 16px;
  line-height: 28px;
  font-style:normal;
  margin-left: 560px;
}
#Desktop3{
  max-width: 1440px;
  padding: 20px 20px;
}
#Desktop3 img{
  width: 760px;
  height: 600px;
  object-fit: cover;
  left: 655px;
  top:-140px;
  position: relative;
}
#Desktop3 h3{
  width: 449px;
  height: 24px;
  font: inherit;
  font-weight: 600;
  size: 20px;
  font-style: Semi Bold;
  line-height: 100%;
  margin-left: 82px;
  margin-top: -368px;
}
#p4{
  max-width: 348px;
  height: 252px;
  font:inherit;
  font-weight:400;
  size: 16px;
  line-height: 28px;
  font-style:normal;
  margin-top: 32px;
  margin-left: 80px;
}
#D4-1{
  width: 86.5px;
  height: 48.89px;
  position: relative;
  object-fit: cover;
  left: 180px;
  top: -380px;
}
#D4-2{
  width: 1610.6666259765625px;
  height: 906px;
  object-fit: cover;
  position: relative;
  top: -500px;
}
#Desktop4 h3{
  position: relative;
  width: 390px;
  height: 24px;
  top: -1305px;
  left: 1069px;
  font-weight: 600;
  size: 20px;
  font-style: Semi Bold;
  line-height: 100%;
}
#p5{
  position: relative;
  width: 305px;
  height: 252px;
  top: -1258px;
  left: 1066px;
  font:inherit;
  font-weight:400;
  size: 16px;
  line-height: 28px;
  font-style:normal;
}
#D4-3{
  width: 124.21052551269531px;
  height: 40px;
  position: relative;
  object-fit: cover;
  top: -1115px;
  left: 1070px;
}
#D4-4{
  width: 135px;
  height: 40px;
  position: relative;
  object-fit: cover;
  top: -1115px;
  left: 1085px;
}
#Desktop4 h1{
  color: rgba(41, 116, 143, 1);
  width: 345px;
  top: -1160px;
  left: 1066px;
  height: 76px;
  position: relative;
}
#D5-1{
 width: 214.36272275427453px;
 height: 233.19190114472792px;
 position: relative;
 object-fit: cover;
 bottom: 945px;
 left: 980px;
}
#Desktop5 h1{
  width: 475px;
  height: 146px;
  position: relative;
  color: rgba(41, 116, 143, 1);
  font-weight: 600;
  font-style:normal;
  size: 60px;
  line-height: 100%;
  bottom: 1165px;
  left: 277px;
}
#Desktop6 h2{
  width: 208px;
  height: 38px;
  font-weight: 600;
  size: 31.15px;
  line-height: 100%;
  color: rgba(41, 116, 143, 1);
  position: relative;
  bottom: 1110px;
  left: 700px;
}
#D6-1{
  border: 0.8px;
  rotate: 9.43 deg;
  left: 175px;
  bottom: 1050px;
}
#D6-2{
  border: 0.8px;
  rotate: -2.26 deg;
  bottom: 1060px;
  left: 50px;
}
#D6-3{
  border: 0.8px;
  bottom: 1090px;
  left: -465px;
  height: 470px;
}
#D6-4{
  border: 0.8px;
  bottom: 1055px;
  left: 71px;
}
#D6-5{
  border: 0.72px;
  rotate: -7.65 deg;
  left: 995px;
  bottom: 1545px;
}
.WF{
  width: 350px;
  height: 500px;
  object-fit: contain;
  position: relative;
}
#Desktop7 h2{
  color: rgba(41, 116, 143, 1);
  width: 138px;
  height: 38px;
  font-weight: 600;
  font-size: 31.15px;
  line-height: 100%;
  position: relative;
  left: 720px;
  bottom: 1485px;
}
#D7-1{
  bottom: 1560px;
  left: 220px;
}
#D7-2{
bottom: 1385px;
left: 390px;
}
#D7-3{
  bottom: 1560px;
  left: 530px;
}
#D7-4{
  bottom: 855px;
  left: -570px;
}
#D7-5{
  bottom: 680px;
  left: -395px;
}
#D7-6{
  bottom: 855px;
  left: -260px;
}
#D7-7{
  bottom: 715px;
  left: 215px;
}
#D7-8{
  bottom: 540px;
  left: 390px;
}
#D7-9{
  bottom: 715px;
  left: 530px;
}
.DS{
  height: 585.0176391601562px;
  width: 262.84326171875px;
  border: 2.64px;
  position: relative;
  object-fit: contain;
  border: rgba(41, 116, 143, 1);
}
@media(max-width:479px){
  #Desktop1 img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  left: 35px;
  top:200px;
  position: relative;
}
#Desktop1{
  background-image: url("../Vector.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 365px;
  height: 1145px;
  padding: 2rem 0;
  left: -1%;
}
#p1{
  position: relative;
  width: 345px;
  height: 112px;
  top: 700px;
  left: 25px;
  font:inherit;
  font-weight:400;
  font-size: 20px;
  line-height: 35px;
  font-style:normal;
}
#Desktop1 h3{
  position: relative;
  width: 310px;
  height: 24px;
  top: -141px;
  left: 25px;
  font: inherit;
  font-weight: 600;
  font-size: 22px;
  font-style: Semi Bold;
  line-height: 100%;
}
#p2{
  position: relative;
  width: 325px;
  height: 196px;
  top: -470px;
  font-size: 20px;
  left: 25px;
  line-height: 35px;
}
#Desktop2{
  position: relative;
  left:-1%;
}
#Desktop2 img{
  width: 350px;
  height: 350px;
  object-fit: cover;
  left: 20px;
  top: -235px;
  position: relative;
}
#Desktop2 h3{
  position: relative;
  width: 300px;
  height: 24px;
  top: -250px;
  left: 25px;
  font-weight: 600;
  font-size: 28px;
  font-style: Semi Bold;
  line-height: 100%;
}
#p3{
  position: relative;
  width: 300px;
  height: 252px;
  top: -250px;
  left: 25px;
  font-weight:400;
  font-size: 20px;
  line-height: 35px;
  font-style:normal;
}
#Desktop3{
  position: relative;
  left: -1%;
}
#Desktop3 img{
  width: 500px;
  height: 390px;
  object-fit: cover;
  left: -135px;
  top:-35px;
  position: relative;
}
#Desktop3 h3{
  position: relative;
  width: 250px;
  height: 24px;
  top: 10px;
  left: 20px;
  font: inherit;
  font-weight: 600;
  font-size: 22px;
  font-style: Semi Bold;
  line-height: 100%;
}
#p4{
  position: relative;
  width: 350px;
  height: 252px;
  top: 15px;
  left: 20px;
  font:inherit;
  font-weight:400;
  font-size: 22px;
  line-height: 35px;
  font-style:normal;
}
#D4-2{
  width: 650px;
  height: 400px;
  object-fit: cover;
  position: relative;
  top: 140px;
  left: -30px;
}
#D4-1{
  width: 40px;
  height: 20px;
  position: relative;
  object-fit: cover;
  left: 25px;
  top: 240px;
}
#Desktop4 h3{
  position: relative;
  width: 345px;
  height: 24px;
  top: 140px;
  left: 25px;
  font-weight: 600;
  font-size: 26px;
  font-style: Semi Bold;
  line-height: 32px;
}
#p5{
  position: relative;
  width: 275px;
  height: 252px;
  top: 215px;
  left: 25px;
  font:inherit;
  font-weight:400;
  font-size: 21px;
  line-height: 28px;
  font-style:normal;
}
#Desktop4 h1{
  color: rgba(41, 116, 143, 1);
  width: 350px;
  top: 170px;
  left: 20px;
  height: 76px;
  position: relative;
  font-size: 40px;
}
#D4-3{
  width: 124px;
  height: 40px;
  position: relative;
  object-fit: cover;
  top: 205px;
  left: 20px;
}
#D4-4{
  width: 135px;
  height: 40px;
  position: relative;
  object-fit: cover;
  top: 205px;
  left: 40px;
}
#D5-1{
 width: 160px;
 height: 170px;
 position: relative;
 object-fit: cover;
 bottom: -285px;
 left: 215px;
}
#Desktop5 h1{
  width: 175px;
  height: 146px;
  position: relative;
  color: rgba(41, 116, 143, 1);
  font-weight: 600;
  font-style:normal;
  font-size: 25px;
  line-height: 100%;
  bottom: -136px;
  left: 55px;
}
}
@media(min-width:760px) and (max-width:992px){
  #Desktop1{
  position: relative;
  background-image: url("../Vector.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 745px;
  height: 560px;
  padding: 2rem 0;
  left: 0%;
}
#Desktop1 img{
  width: 450px;
  height: 450px;
  object-fit: cover;
  left: 45px;
  top:-100px;
  position: relative;
}
#p1{
  position: relative;
  width: 300px;
  height: 112px;
  top: 3px;
  left: 30px;
  font:inherit;
  font-weight:400;
  size: 16px;
  line-height: 28px;
  font-style:normal;
}
#Desktop1 h3{
  position: relative;
  width: 287px;
  height: 24px;
  top: -1px;
  left: 430px;
  font: inherit;
  font-weight: 600;
  size: 20px;
  font-style: Semi Bold;
  line-height: 100%;
}
#p2{
  position: relative;
  width: 300px;
  height: 196px;
  top: -465px;
  left: 430px;
}
#Desktop2 img{
  width: 450px;
  height: 450px;
  object-fit: cover;
  left: 15px;
  top:-25px;
  position: relative;
}
#Desktop2{
  position: relative;
  left: 0%;
}
#Desktop2 h3{
  position: relative;
  width: 449px;
  height: 24px;
  top: -405px;
  left: 420px;
  font: inherit;
  font-weight: 600;
  size: 20px;
  font-style: Semi Bold;
  line-height: 100%;
}
#p3{
  position: relative;
  width: 300px;
  height: 252px;
  top: -400px;
  left: 420px;
  font:inherit;
  font-weight:400;
  size: 16px;
  line-height: 28px;
  font-style:normal;
}
#Desktop3{
  position: relative;
  left: -10%;
}
#Desktop3 img{
  width: 450px;
  height: 360px;
  object-fit: cover;
  left: 455px;
  top:-320px;
  position: relative;
}
#Desktop4{
  position: relative;
  left: -10%;
}
#D4-2{
  width: 1000px;
  height: 706px;
  object-fit: cover;
  position: relative;
  top: -680px;
  left: 45px;
}
#D4-1{
  width: 86.5px;
  height: 48.89px;
  position: relative;
  object-fit: cover;
  left: 115px;
  top: -530px;
}
#Desktop4 h3{
  position: relative;
  width: 275px;
  height: 24px;
  top: -1280px;
  left: 600px;
  font-weight: 600;
  size: 20px;
  font-style: Semi Bold;
  line-height: 21px;
}
#p5{
  position: relative;
  width: 205px;
  height: 252px;
  top: -1250px;
  left: 600px;
  font:inherit;
  font-weight:400;
  size: 16px;
  line-height: 28px;
  font-style:normal;
}
#D4-3{
  width: 115px;
  height: 35px;
  position: relative;
  object-fit: cover;
  top: -1260px;
  left: 580px;
}
#D4-4{
  width: 120px;
  height: 35px;
  position: relative;
  object-fit: cover;
  top: -1260px;
  left: 600px;
}
#Desktop4 h1{
  color: rgba(41, 116, 143, 1);
  width: 320px;
  top: -1300px;
  left: 580px;
  height: 76px;
  position: relative;
  font-size: 38px;
}
}
/*Contact page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
}
/*nav bar styling*/
.navbar {
  background-color: white;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
  height: 22.153921127319336px;
  width: 20px;
}
.cm-logo {
  padding: 15px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  cursor: pointer;
}
.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
  position: relative;
  top: 3px;
  left: 2px;

}

.service-wrapper{
  position: relative;
  display: inline-block;
}
.enquiry-btn {
  padding: 5px 12px;
  border: 1px solid black;
  background:white;
  cursor: pointer;
  border-radius: 5px;
  line-height: normal;
  margin: 0;
  vertical-align: middle;
}

/* Main Contact Section */
.contact-section {
  padding: 10px 20px;
  background: white;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 38px;
  max-width: 1100px;
  margin: auto;
  background: white;
  padding: 30px;
  margin-top: 50px;
}

/* Sidebar */
.contact-sidebar {
  background-color: #1a1a1a;
  color: white;
  padding: 20px;
  border-radius: 6px;
  max-height: 582px;
  
}

.contact-sidebar h4 {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.contact-sidebar p, .contact-sidebar ul {
  font-size: 14px;
  margin-top: 10px;
}

.contact-sidebar ul {
  list-style: none;
  padding-left: 0;
}

/* Form */
.contact-form h2 {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 600;

}

.contact-form p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.5;
}

form {
  width: 100%;
  margin-top: 48px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

input,select {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  margin-top: 2px;
}

.submit-btn {
  padding: 10px 50px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 24px;
}
.selectarrow{
  background-color:white;
  padding: 0 5px;
  font-size: 16px;
}
nav div{
  color:rgba(57, 57, 57, 0.8);
  transition: color 0.5s ease;
}
input:hover{
  border: black 2px solid;
}
select:hover{
  border: black 2px solid;
}
.nav-links div:hover{
  color: #1a1a1a;
}
.contact-sidebar li {
  padding: 5px 0px;
}

@media (min-width:830px) and (max-width:1260px){
 .contact-form h2{
  font-size: 36px;
 }
 .contact-form p {
    font-size: 16px;
}
.tabler_menu{
  display: none;
}
.selectarrow:hover .contact-section{
  position: relative;
}

.service_container{
  max-width:1260px ;
}
.service_content{
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #FFFFFF;
  color:rgba(57, 57, 57, 0.6);
  padding: 30px;
  width: 1400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 100;
  border-radius: 8px;

}
.service_content1{
  display: none;
}
.service_domains{
  display: flex;
  flex-direction: column(1fr 1fr);
  row-gap: 20px;
  column-gap: 30px;
  align-items: center;
}
}
@media(min-width:1261px) and (max-width:1920px){
  .tabler_menu{
    display: none;
  }
  .selectarrow:hover .contact-section{
  position: relative;
}
.service_container{
  max-width:1920px ;
}
.service_content{
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #f5f5f5;
  color:rgba(57, 57, 57, 0.6);
  padding: 30px;
  max-width: 1400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  cursor: pointer;
  z-index: 100;
}
.service_domains{
  display: flex;
  flex-direction: column(1fr 1fr);
  row-gap: 20px;
  column-gap: 30px;

}

}
@media (min-width:0px) and (max-width:830px){
  .nav-links div:not(:last-child) {
    display: none;
  }
  .mobile-drop{
    position: relative;
  }
  .drop-cancel{
    padding: 9px;
    cursor: pointer;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-sidebar{
    order: 2;
  }
  .contact-form{
    order: 1;
  }
  .form-grid {
    grid-template-columns: 1fr;
  }
  .contact-form h2 {
    font-size: 24px;
}
.contact-form p {
    font-size: 14px;
}
.tabler_menu{
  width: 28px;
  height: 28px;
}
.mobile_menu::after .contact-section{
  position: relative;
  z-index: 0;
}
.mobile_menu{
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  height: 548px;
  justify-content: space-between;
}
.mobile-enquiry-btn{
max-width: 830px;
padding: 20px;
}
.mobile-enquiry-btn button{
  width: 100%;
  background-color: #1C1C1C;
  font-weight: 500;
  border-radius: 10px;
  border: 1px black solid;
  text-align: center;
  padding: 10px 20px;
  font-size: 14px;
  color: #ccc;
}


.mobile_menu li{
  padding: 10px;
  max-width: 255px;
}
.mobile_Container{
  cursor: pointer;
}

.tabler_menu_cancel{
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.contact-sidebar {
    height: 516px;
    text-align: center;
}
.enquiry-btn{
  display: none;
}
.arrow-icon img{ 
  display: none;
}
}
.service_content1{
  padding: 10px 10px;
  text-align: center;
}
.services{
  padding: 10px 0px;
}
.services p{
  margin-top: 5px;
  max-width: 309px;
}

.service_content{
  max-width:1700px;
  padding:30px 82px;
}
.service_content1 h2{
  max-width: 360px;
  height: 68px;
  font-weight: 600;
  font-size: 28px;
  margin-left: 54px;
  transition:opacity 0.3s ease;

}
.domain:hover{
  color: #1a1a1a;
}
.domain h5{
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0%;
  line-height: 150%;
}
.domain p{
font-weight: 400;
font-size: 16px;
}
.tabler_menu{
  cursor: pointer;
}
.service_ul{
  font-size: 14px;
  margin-top: 5px;
  color: #393939CC;
}
button:hover{
  background-color: #1a1a1a;
  color: white;
}
.fade-in{
  opacity: 1;
}
.fade-out{
  opacity: 0;
}
.text-fade{
  transition:opacity 0.5s ease;
}


.rotate-up {
  transform: rotate(180deg);
 
  transition: transform 0.5s ease;
}
button{
  transition:color 0.5s ease;
}
.nav-container{
  display: flex;
}
/*footer Styling */

.footer {
  background-color: #000;
  padding: 40px 40px;
  font-family: sans-serif;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  max-width: 756px;
  margin-top: 52px;
}
.responsive-video {
  width: 100%;
  max-width: 743px;
  max-height: 311px;
  margin: 0 auto;
}


.footer-column h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fff;
}
.footer-column {
  width: 150px;
}


.footer-column {
  list-style: none;
  padding: 0;
}
.footer-column ul li{
  color: #ccc;
}
.footer-column ul li,
.footer-column p {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
}
.footer-column ul li:hover{
  color: white;
}
.footer-column p:hover{
  color: white;
}
.footer-divider {
  border-top: 1px solid #333;
  margin: 30px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  column-gap: 80px;
  max-width: 1920px;
}

.footer-bottom p {
  font-size: 13px;
  color: #888;
  margin-bottom: 15px;
  
}

.social-icons {
  display: flex;
  position: relative;
  gap: 15px;
  left: 44%;
  margin-bottom: 20px;
}

.social-icons a {
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #999;
}

.footer-up h1{
  max-width: 815px;
  max-height: 168px;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
  text-transform:capitalize;
  color: #fff;
}
.footer-up{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.social-logo{
  width: 32px;
  height: 32px;
}

@media(min-width:1031px) and (max-width:1920px){
.footer-bottom p{
  position: fixed;
}
}

@media (min-width:830px) and (max-width:1030px){
  .footer-up img {
    width: 430px;
}
.footer-up h1{
    font-size: 24px;
  }
.footer-bottom p{
  position: fixed;
}
}
@media (min-width:320px) and (max-width:829px){
.footer-up img {
    width: 272px;
}
.social-icons{
  left: 0%;
}
.footer-up h1{
    font-size: 24px;
  }
.footer-up {
    display: flex;
    flex-direction: column;
    gap: 42px;
}
.footer-grid{
    grid-template-columns: repeat(1, 1fr);
}


.social-icons{
  order: 1;
}
.footer-bottom p{
  order: 2;
}
}


